@import "tailwindcss";

:root {
  --background: #F5F5F5;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-montserrat: var(--font-montserrat);
  --font-italiana: var(--font-italiana);

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-md: 768px;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed; 
  }
} */

body {
  width: 100%;
  background: var(--background);
  color: var(--foreground); 
  font-weight: 100;
  line-height: 1.5em;
}

main div{
  padding-bottom: 20px;
}

h2{
  font-family: var(--font-italiana);
}
.content{
  margin-left: auto;
  margin-right: auto;
 
}

