@import "tailwindcss";

:root {
  --background: #F5F5F5;
  --foreground: #171717;
  --footer: rgb(165, 175, 184);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-footer: var(--footer); 
  --font-montserrat: var(--font-montserrat);
  --font-italiana: var(--font-italiana);

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-md: 768px;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed; 
  }
} */

body {
  width: 100%;
  background: var(--background);
  color: var(--foreground); 
  font-weight: 100;
  line-height: 1.5em;  
}

h2{
  font-family: var(--font-italiana);
}
.content{
  margin-left: auto;
  margin-right: auto;
 
}

#contact{
  background-color: #ffffffe0;
}

input, textarea{
  width: 100%;
  border-bottom: .8px solid black;
  margin-top: 5px;
  margin-bottom: 15px;
}
textarea{
  height: 100px;
  width: 100%;
}
input:active{
  border: none;
}

button{
  align-self: center;
  padding: 3px;
  width: 25%;
  margin-top: 20px;
  background-color: rgb(165, 175, 184);
  border-radius: 2px;
  cursor: pointer;
}

